body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

.bitcoin-data {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  color: #555;
}

strong {
  color: #000;
}
